body {
    margin: 20px;
}

.row {
    text-align: center;
}
.header h1, p{
    text-align: center;
}

#transcript {
    margin: 10px 0;
    white-space: pre-wrap;
    height: 80px;
}
#file_path{
    display: inline-flex;
    width: auto;
}

#start-button,
#stop-button,
#reset-button {
    margin: 5px 0;
    height: 30px;
    line-height: normal;
}

#error {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4rem;
    border-radius: 5px 5px 5px 5px;
    color: #D8000C;
    background-color: #FFD2D2;
    display: none;
}

.isa_error i {
    margin: 2px 12px;
    font-size: 1.5em;
    vertical-align: middle;
}
/* 
#logo {
    height: 52px;
} */

/* #github {
    fill: #146eb4;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
} */

.small-caps {
    font-variant: small-caps;
}